<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>歡迎來到 賽賽の網店</h1>
        <p>本小小店專為有"賽賽"為稱呼的客人提供免費服務
        <br />
        Our tiny, little store provides dedicated services for customers with the nickname "Sai Sai"</p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">繼續瀏覽</a></li>
        </ul>
    </div>
</section>