<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <web-title>歡迎來到</web-title>
        <p>本小小店專為有"賽賽"為稱呼的客人提供免費服務
        <br />
        Our tiny, little store provides dedicated services for customers "Sai Sai"</p>
        <ul class="actions">
            <li><a href="#service" class="button scrolly">繼續瀏覽</a></li>
        </ul>
    </div>
</section>