<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Welcome</a></li>
                <li><a href="#one">Service</a></li>
                <li><a href="#two">Product</a></li>
                <li><a href="#three">Checkout</a></li>
            </ul>
        </nav>
    </div>
</section>