<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Welcome</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#product">Product</a></li>
                <li><a href="#checkout">Checkout</a></li>
            </ul>
        </nav>
    </div>
</section>